<div class="top-wrapper">
  <header>
    <menu class="menu">
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Homepage</a
          >
        </li>
        <li>
          <a
            routerLink="/govisit"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Go Visit</a
          >
        </li>
        <li>
          <a
            routerLink="/govisit/about"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Govisit About</a
          >
        </li>
        <li>
          <a
            routerLink="/govisit/contact"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Govisit Contact</a
          >
        </li>
      </ul>
    </menu>
  </header>
  <div class="container">
    <aside></aside>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
  <footer class="footer">
    <p>Footer</p>
  </footer>
</div>
