<div class="top-wrapper">
  <header>
    <menu class="menu">
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >עמוד הבית</a
          >
        </li>
        <li>
          <a
            routerLink="/inner"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >אפליקציה</a
          >
        </li>
        <li>
          <a
            routerLink="/inner/about"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >אפליקציה - עמוד פנימי</a
          >
        </li>
        <li>
          <a
            routerLink="/inner/contact"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >אפליקציה - עמוד ארוך</a
          >
        </li>
      </ul>
    </menu>
  </header>
  <div class="container">
    <aside></aside>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
  <footer class="footer">
    <p>Footer</p>
  </footer>
</div>
